* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#E3E3E3; 
}

.introduccion {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background-image: url(../img/weights-exercise-weightlifter-strong-athletic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.intro-texto {
    width: -webkit-fill-available;
    font-weight:bolder;
    border-radius: 5px;
    border-style:hidden;
    border-color: rgba(12, 221, 236);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:rgba(12, 221, 236, 0.858);
    padding: 20px 0;

}

/* .formularioReserva {
    display:none;
}
 */
.formularioReserva {
    height:auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-content: center;
    background-image: url(/mi_repositorio/img/strong-wet-woman-posing-during-jump.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:initial;
    
}
.formularioReserva h2 {
    background-color: #e3e3e3a7;
    font-weight: bolder;
    
}

#selectClase {
    margin: 10px;
    padding: 5px;
}

#btnReserva {
    margin: 10px;
    padding: 5px;
    background-color: rgba(12, 221, 236, 0.858);
    border-radius: 5px;
    border-color: aqua;
    text-align: center;
    font-weight: bolder;
}

#claseReservadas thead tr th, 
#claseReservadas tbody tr td {
    margin: 20px 20px 20px 0;
    padding: 10px 20px;
    border: 2px solid rgba(17, 210, 224, 0.364);
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(234, 236, 236, 0.858);
}